:root{
    --vermelho: #E50914;
    --preto: #141414;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background: url("/img/backdrop-flash.jpg");
    color: white;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header .logo{
    margin: 5px;
    margin-left: 30px;
    margin-right: 20px;
    width: 110px;
}

header nav a{
    flex-direction: row;
    text-decoration: none;
    color: lavenderblush;
    margin-right: 10px;
    justify-content: center;
    
}
header .nav-1{
    flex-direction: row;
    text-decoration: none;
    color: lavenderblush;
    margin-right: 10px;
}
header .nav-2{
    flex-direction: row;
    text-decoration: none;
    color: lavenderblush;
    margin-left: 950px;
}

header nav a:hover{
    color: #AAAA;
}

/*Filme principal*/
.filme-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
main .titulo{
    margin-left: 20px;
    padding-top: 80px;
    padding-left: 50px;
    padding-bottom: 0;
    height: 400px;
    width: 650px;
}
main .sinopse{
    margin-top: 20px;
    font-size: 25px; 
    width: 600px;
    margin-left: 100px;
    text-align: justify; 
}
main .posicao-filme{
    align-items: center;
    font-size: 28px;
    margin-left: 100px;
}
.top10{
    width: 35px;
    height: 35px;
}
.play{
    width: 35px;
    height: 35px;
}
.fa{
   margin-right: 25px;
}
.perfil{
    padding-bottom: 0;
    height: 24px;
    width: 30px;
    justify-content: center;
}
.botao-assistir{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 10px;
    font-size: 20px;
    height: 40px;
    border: none;
    padding: 15px 30px;
    background-color: white;
    color: black;
    transition: .3s;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
} 
.botao-assistir:hover{
    background-color: #AAAA;
}
.botao-informacao{
    margin-top: 20px;
    justify-content: space-between;
    font-size: 20px;
    height: 40px;
    border: none;
    padding: 15px 30px;
    background-color: rgba(98, 96, 96, 0.733);
    color: white;
    transition: .3s;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-informacao:hover{
    background-color: rgba(119, 115, 115, 0.431);
    
}
.fa-solid fa-play{
    color: #141414;
}
.container-2{
    flex-direction: row;
    align-items: flex-start;
    display: flex;

}